
html, body {
  /* padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  -ms-overflow-style: none;
  background-image: url(../images/chalkboard_math_background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115vw 125vh;
  background-position: 0px 0vh; */
  margin: 0;
}

.container {
  width: 100vw;
  background: grey;
  font-size: 24px;
}

.parallax {
  background: url(./images/chalkboard_math_background.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  /* height: 1000vh; */
  min-height: 125vh;
  min-width: 100vw;
  background-size: 100vw 125vh;
  background-position-y: 0vh;
}


.pageHeadlineContainer {
  padding-top: 30vh;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
}

.headlineImage {
  background-color: maroon;
  border-radius: 5px;
  border-width: 1px;
  width: 20vw;
  height: 35vh;
}


.headlineDescription {
  width: 50vw;
  height: 20vh;
}

.textBoxContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

.textBox {
  min-height: 20vh;
  width: 85vw;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(15px);
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
  padding: 25px;
}

.parallax-window {
  min-height: 125vh;
  background: transparent;
}