
  html, body {
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    -ms-overflow-style: none;
  }


  .parallax { 
    background-image: url(../images/chalkboard_math_background.jpg);
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 115vw 75vh;
    background-position-y: top;
  }
