
html, body {
  /* padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  -ms-overflow-style: none;
  background-image: url(../images/chalkboard_math_background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115vw 125vh;
  background-position: 0px 0vh; */
  margin: 0;
}

.container {
  width: 100vw;
  background: grey;
  font-size: 24px;
}

.parallax {
  background: url(./images/chalkboard_math_background.jpg) no-repeat center;
  background-attachment: fixed;
  height: fit-content;
  min-width: 100vw;
  background-size: 100vw 125vh;
  background-position-y: 0vh;
}


.pageHeadlineContainer {

  padding-top: 30vh;
  min-height: 50vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;

}

.headlineImage {
  border-radius: 10px;
  min-width: 300px;
  max-width: 80vw !important;
  min-height: 450px;
  height: 40vh;
}

#headlineImageHome {
  background: url('./images/Guatemala portrait.jpeg') no-repeat center;
}


#headlineImageAbout {
  background: url('./images/Family\ Xmas\ 2019.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position: center;
  min-width: 375px;
  min-height: 300px;
  min-width: 400px;
  width: 40vw;
  height: 30vw;

}

.headlineDescription {
  padding: 20px;
  background-color: ivory;
  min-width: 340px;
  width: 50vw;
  height: 20vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}

.headlineItem {
  text-align: center;
  min-width: 150px;

}

.textBoxContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

.textBox {
  min-height: 20vh;
  width: 85vw;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(15px);
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
  padding: 25px;
}

.parallax-window {
  min-height: 125vh;
  background: transparent;
}